/*
*Colors
*
    **Primary
    */
    $Martinique: #2d314d;
    $Emerald: 	#31d35c;
    $Scooter: #2BB7DA;
    
    /**Neutral
    */
    $Manatee: #9698A6;
    $Athens-Gray: 	#F3F4F6;
    $Alabaster: #FAFAFA;
    $White: #FFFFFF;

/*
*Colors
*
    **Font
    */
    $Public-Sans: 'Public Sans', sans-serif;

    /**Font Weigth
    */
    $Light: 300;
    $Normal: 400;
    $Bold: 700;
